stages:
  - build
  - test
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_NAME: $CI_REGISTRY_IMAGE/app

build-image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  rules:
    - if: $CI_COMMIT_BRANCH
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t "$IMAGE_NAME:$CI_COMMIT_SHA" -t "$IMAGE_NAME:latest" .
    - docker push "$IMAGE_NAME:$CI_COMMIT_SHA"
    - docker push "$IMAGE_NAME:latest"
  artifacts:
    reports:
      dotenv: build.env
  after_script:
    - echo IMAGE="$IMAGE_NAME:latest" > build.env

unit-test:
  stage: test
  image: golang:1.22
  needs: ["build-image"]
  script:
    - go test ./...

deploy:
  stage: deploy
  image: alpine:3.20
  needs: ["build-image", "unit-test"]
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  before_script:
    - apk add --no-cache openssh-client rsync
    - mkdir -p ~/.ssh
    - echo "$DEPLOY_SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - printf "Host %s\n\tStrictHostKeyChecking no\n" "$DEPLOY_HOST" >> ~/.ssh/config
  script:
    - ssh "$DEPLOY_USER@$DEPLOY_HOST" "mkdir -p $DEPLOY_PATH && mkdir -p $DEPLOY_PATH/deploy/nginx"
    - rsync -avz --delete deploy/ "$DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH/deploy/"
    - ssh "$DEPLOY_USER@$DEPLOY_HOST" "cd $DEPLOY_PATH && IMAGE=$IMAGE docker compose -f deploy/docker-compose.yml pull && IMAGE=$IMAGE DATABASE_URL=$APP_DATABASE_URL docker compose -f deploy/docker-compose.yml up -d"
  environment:
    name: production
    url: http://$DEPLOY_HOST
